/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
	background-color: #222222;
}
/* Posts and pages */

.hfeed {
	padding: 2.5%;
	max-width: 1080px;

	@include desktop {
		margin: 0 auto;
		max-width: 1080px;
		width: 100%;
	}
}

.site-content {
	@include desktop {
		width: 650px;
		margin: 0 auto;
	}
}

.type-page, .browse-archives, .page-id-205 {
	.entry-header {
		margin-top: 3em;
	};
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-header {

	@include desktop { 
		text-align: center;
		

	}

.logo {
	background-image: url(../../assets/qod-logo.svg);
	background-size: 300px; 
	height: 50px; 
	background-repeat: no-repeat;

	@include desktop {
		background-size: 700px;
		width: 700px;
		height: 110px;
		margin-left: auto; 
		margin-right: auto;
	}
}
}

.post {
	margin-bottom: 2em;
}

.source, .entry-title {
	display: inline;
}


.site-content {
	@include desktop {

		display: block;

		&:before, &:after {
			position: absolute;
			color: #0c0;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 7.5em;
			line-height: 1;	
		}

		&:before {
			content: "\f10d";
			left: 15%;
			top: 35%;
		}

		&:after {
			content: "\f10e";
			right: 15%;
			top: 35%;
		}
	}
}
