/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
	background-color: #222222;
}
/* Posts and pages */

.hfeed {
	padding: 2.5%;
}

.type-page {
	.entry-header {
		margin-top: 3em;
	};
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.logo {
	background-image: url(../../assets/qod-logo.svg);
	background-size: 300px; 
	height: 50px; 
	background-repeat: no-repeat;
}

.post {
	margin-bottom: 2em;
}

.source, .entry-title {
	display: inline;
}